server {
    listen 80;

    root /usr/share/nginx/html;
    index index.html;

    resolver 8.8.8.8 valid=30s;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        rewrite ^/api/(.*) /$1 break;
        proxy_pass ${BACKEND_URL};
        proxy_ssl_server_name on;
        proxy_set_header Host ${BACKEND_HOST};
        proxy_set_header X-Real-IP $remote_addr;
    }
}